
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-95">
  <div class="relative w-full p-20 rounded-lg">
    <div class="">
      <i class= "absolute text-white cursor-pointer right-[200px] top-[50px] text-4xl fa-solid fa-x" data-action="click->carousel-pop-up#close"></i>
    </div>

    <div class="flex items-center justify-center">
      <div class="w-1/3">
        <div class="swiper-container" data-controller="carousel" 
                                      data-carousel-options-value='{
                                        "pagination": { "el": ".swiper-pagination", 
                                                        "dynamicBullets": "true" },
                                        "navigation": { "nextEl": ".swiper-button-next", 
                                                        "prevEl": ".swiper-button-prev"},
                                        "effect": "fade", 
                                        "fadeEffect": { "crossFade": "true" },
                                        "centeredSlidesBounds": false
                                      }'
                                      >
          <div class="flex items-center swiper-wrapper">
        	<% house.images.each do |image| %>
        	  <div class="swiper-slide">	    
              <%= link_to image_tag(image), image.url, data: { lightbox: 'image-gallery' }, class: "object-contain w-full h-full", target: "_blank" %>
        	  </div>
        	<% end %>  
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Navigation -->
          <div class="mr-5 swiper-button-next">
            <div class="w-[60px] h-[60px] bg-white absolute opacity-90 rounded-full"></div>
          </div>
          <div class="ml-5 swiper-button-prev">
            <div class="w-[60px] h-[60px] bg-white absolute opacity-90 rounded-full"></div>
          </div>    
        </div>
      </div>
    </div>
  
  </div>
<div>

