<section class="mx-36">
  <div class="mb-6 bg-white rounded-lg shadow">
    
    <%# 渲染房子上方區塊 %>
    <%= render "card", house: @house %>
  
    <div class="w-full p-4 text-gray-600 focus-within:text-gray-400">            
      <%# 下面這邊是渲染留言表單出來，順便會把兩個實體變數傳過去，一個是房子實體變數傳過去變區域變數，一個是把nil當作parent區域變數傳過去 <%>
      <%= render partial: 'comments/form', locals: { house: @house, parent: nil, url: comments_path(@house) } %>                
    </div>

    <div class="w-full p-10 mb-8 border-gray-100 border-y">
      <%= render @comments %>                            
    </div>
    <br>
     
  </div>


</section>


<%# 點下去會出現所有圖片的輪播圖 %>
<div class="absolute hidden" data-controller="carousel-pop-up"
                             data-carousel-pop-up-target="page"
                             data-action="popup_carousel@window->carousel-pop-up#showPop"
                             >
  <%= render "carousel", house: @house %>
</div>





