

<% flash.each do |key, value| %>
  <div data-controller="flash" class="fixed bottom-0 right-0 flex items-center justify-between p-4 m-5 text-center text-white bg-blue-800 rounded-lg w-60 bg-opacity-80">
    <div class="mr-4"><%= value %></div>

    <button type="button" data-action="flash#dismiss">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
<% end %>
