/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";



.swiper-container {
   position: relative;
}


.black {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}


.swiper-wrapper {
    // display: flex;
    // align-items:center;
    // justify-content: center;      
}

.swiper-slide {
  background-position: center;
  background-size: cover;

//   height: 250px;
  display: flex;
  align-items:center;
  justify-content: center;  

}
  

.swiper-pagination {    
    width: 100px;
    height: 15px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;        
    background-color: gray;
}

.swiper-pagination-bullet {
        
    /* 大小 */
    /* --swiper-pagination-bullet-size: 20px; */
    /* 顏色 */
    /* --swiper-pagination-progressbar-bg-color: white; */
    --swiper-pagination-color: white;

}


.swiper-button-next {        
    --swiper-theme-color: black;    
    --swiper-navigation-size: 30px;    
}

.swiper-button-prev {        
    --swiper-theme-color: black;    
    --swiper-navigation-size: 30px;    
}

/* 這裡很重要，這樣設定，才可以把箭頭放在白色色塊前面 */
.swiper-button-next:after {
    z-index: 99;
}

.swiper-button-prev:after {
    z-index: 99;
}



.field_with_errors {
    display: inline-block;
    width: 100%;
}






.trix-button-row {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

